{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="nav-right">
<a href="{% url 'add_networkResource' %}">+ Add Resource</a>
<a href="{% url 'add_network' %}">+ Add Network</a>
</div>
  <div class="container">

<!--  {% for r in object_list %}-->
<!--    <p>r</p>-->
<!--  {% endfor %}-->

  {% for n in network %}
    <h1><a href="{% url 'network_detail' pk=n.id %}">{{ n }}</a></h1>
    <table class="table-bordered">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Portable</th>
      <th scope="col">Local IPv4</th>
      <th scope="col">Local IPv6</th>
      <th scope="col">External IPv4</th>
      <th scope="col">External IPv6</th>
      <th scope="col">Powered On</th>
      <th scope="col">Powered On At</th>
      <th scope="col">Uptime</th>
      <th scope="col">Last Seen</th>
    </tr>
    </thead>
    {% for r in object_list %}
      <!--{% ifequal r.network n %}-->
      <tr>
      <td><a href="{% url 'resource_detail' pk=r.id %}">{{ r.resource_name }}</a></td>
      <td>{{ r.portable }}</td>
      <td>{{ r.local_ipv4 }}</td>
      <td>{{ r.local_ipv6 }}</td>
      <td>{{ r.external_ipv4 }}</td>
      <td>{{ r.external_ipv6 }}</td>
      <td>{{ r.powered_on }}</td>
      <td>{{ r.powered_on_at }}</td>
      <td>{{ r.uptime }}</td>
      <td>{{ r.last_seen }}</td>
      </tr>
      <!--{% endifequal %}-->
      {% endfor %}
    </table>
  {% endfor %}

  </div>
{% endblock content %}
